@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('styles/codeline.css');
@import url('styles/container.css');
@import url('styles/download.css');
@import url('styles/features.css');
@import url('styles/feloopy.css');
@import url('styles/multicolumn.css');
@import url('styles/nextcontainer.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --txt-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --txt-color: #f0f0f0;
    }
}

body {
    color: var(--txt-color);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background: var(--background-color);
    margin: 0; 
    height: 100vh; 
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.badges-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}

.badges-container img {
    vertical-align: middle; 
}