.download-button {
    background-color: #3fabb5;
    color: white;
    border: none;
    gap: 8px;
    border-radius: 4px;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: normal;
    top: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
    margin-top: 40px;
}

.download-button:hover {
    background-color: #faac4a;
}

.download-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #faac4a;
}

.download-button:active {
    transform: translateY(1px);
}

.download-button i {
    font-size: 14px; 
}

.documentation-button {
    background-color: #faac4a;
    color: white; 
    border: none;
    gap: 8px;
    border-radius: 4px;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: normal; 
    top: 40px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
    margin-top: 40px;
}

.documentation-button:hover {
    background-color: #3fabb5;
}

.documentation-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #3fabb5;
}

.documentation-button:active {
    transform: translateY(1px); 
}

.documentation-button i {
    font-size: 14px; 
}

.github-button {
    background-color: #414347;
    color: white;
    border: none;
    gap: 1px;
    border-radius: 6px;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 1000;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-button i {
    font-size: 18px;
    margin-right: 8px;
}

.github-button:hover {
    background-color: #444d56;
}

.github-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #444d56;
}

.github-button:active {
    transform: translateY(1px);
}

.button-container {
    display: flex;
    gap: 0px; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}