.feature-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.feature-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    overflow-y: auto; 
    position: relative; 
}

#featurebox1 {
    color: #000000;
}

#featurebox2 {

    color: #000000;
}

#roller {
    font-weight: bold;
    color: #333;
  }
@media screen and (min-width: 768px) {
    .feature-container {
        flex-direction: row;
    }
}


@keyframes gradientAnimation {
    0% {background-position: 0% 0%;}
    25% {background-position: 100% 100%;}
    75% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
}


.feature-main-title {
    position: relative;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    background: linear-gradient(45deg, #3b3b3c, #53be2c);
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0px 0;
    padding: 0px 20px;
    animation: gradientAnimation 2s linear infinite;
}

.feature-main-subtitle {
    font-size: 1.5em;
    color: #666;
    padding: 0px 20px;
    margin-bottom: 15px;
    font-family: 'Chakra Petch', sans-serif;
    /*text-transform: uppercase;*/
}

.feature-main-subsubtitle, .feature-main-subsubsubtitle {
    font-size: 1.2em;
    color: #999;
    line-height: 1.5;
    max-width: 800px;
    margin: 10 auto;
    padding: 10px 20px;
    font-weight: normal;
    font-family: 'Chakra Petch', sans-serif;
}

.feature-terminal-image {
    background-color: #2e2e2e;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    max-width: 90%;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.feature-code-box {
    font-family: 'Fira Code', monospace; 
    background-color: #2e2e2e;
    color: #f8f8f2;

    border-radius: 8px;
    position: relative;
    width: 100%;

    overflow: auto;
    margin: 10px 0;
    /*white-space: pre-wrap;*/ 
}
.feature-code-box pre {
    margin: 0;
    overflow-x: auto;
}

.feature-code-copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #5c5c5c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    z-index: 2;
}

.feature-code-copy-btn:hover {
    background-color: #434343;
}

.feature-box img, .feature-box .code-box {
    position: relative;
    z-index: 1; 
}

.feature-box img:hover, .feature-box .code-box:hover {
    z-index: 3; 
}
